//
// Kanbanboard . scss
//


// task

.task-board,
.slip-board {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    align-items: stretch;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 12px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($dark, .2);
        border-radius: 10px;
        border: 2px solid var(--#{$prefix}border-color);
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: var(--#{$prefix}secondary-bg);
    }
}

.tasks {
    min-height: 300px;
}

.task-list,
.slip-list,
.order-list {
    min-width: 280px;
    white-space: normal;

    @media (min-width: 576px) {
        width: 400px;
        min-width: 400px;
    }


    &:not(:last-child) {
        margin-right: 20px;
    }

    .tasklist-content {
        max-height: calc(100vh - 430px);
    }

    .task-box,
    .slip-box {
        border: 1px solid var(--#{$prefix}o-border-color);
        background-color: var(--#{$prefix}secondary-bg);

        &:last-child {
            margin-bottom: 0;
        }
    }

}

.gu-transit {
    border: 1px dashed var(--#{$prefix}border-color) !important;
    background-color: var(--#{$prefix}tertiary-bg) !important;
}
